Pandas

Introductions:::

In [4]:
import pandas as pd
#Here we will be focusing on two main datatypes : series and dataframe

IMPORTING AND EXPORTING DATA:

In [7]:
#Series is 1D
series=pd.Series(["prajwal","sagar","sarthak"])
series   #Here we get 1D ie column

0    prajwal
1      sagar
2    sarthak
dtype: object

In [13]:
colors=pd.Series(['yellow','white','grenn'])
colors

0    yellow
1     white
2     grenn
dtype: object

In [19]:
age=pd.Series(['20','30','40'])
age

0    20
1    30
2    40
dtype: object

In [20]:
#Data Frame is 2D and it takes like python dictionary
# We can create daraftrame out from series
human_data=pd.DataFrame({
    "Name" :series,
    "age":age,
    "colours":colors
})  
human_data

      Name age colours
0  prajwal  20  yellow
1    sagar  30   white
2  sarthak  40   grenn

These all making a data from scratch can be bit tedious so we rather import the data
So lets import the dataset

In [78]:
#Importing the dataset file i.e csv(comma separated value) file
#Can also be imported using the url as well
book_sales=pd.read_csv("books.csv")
book_sales

,Title,Author,Genre,Height,Publisher
0,Fundamentals of Wavelets,"Goswami, Jaideva",signal_processing,228,Wiley
1,Data Smart,"Foreman, John",data_science,235,Wiley
2,God Created the Integers,"Hawking, Stephen",mathematics,197,Penguin
3,Superfreakonomics,"Dubner, Stephen",economics,179,HarperCollins
4,Orientalism,"Said, Edward",history,197,Penguin
5,"Nature of Statistical Learning Theory, The","Vapnik, Vladimir",data_science,230,Springer
6,Integration of the Indian States,"Menon, V P",history,217,Orient Blackswan
7,"Drunkard's Walk, The","Mlodinow, Leonard",science,197,Penguin
8,Image Processing & Mathematical Morphology,"Shih, Frank",signal_processing,241,CRC

Now we can have the advantage of this data to manipulate and change from the pandas functions that is provided

In [79]:
#Exporting the dataframe  : .to_csv("new_file_name")
book_sales.to_csv("Exported_books.csv")

In [80]:
book_sales2=pd.read_csv("Exported_books.csv")
book_sales2

,Unnamed: 0,Title,Author,Genre,Height,Publisher
0,0,Fundamentals of Wavelets,"Goswami, Jaideva",signal_processing,228,Wiley
1,1,Data Smart,"Foreman, John",data_science,235,Wiley
2,2,God Created the Integers,"Hawking, Stephen",mathematics,197,Penguin
3,3,Superfreakonomics,"Dubner, Stephen",economics,179,HarperCollins
4,4,Orientalism,"Said, Edward",history,197,Penguin
5,5,"Nature of Statistical Learning Theory, The","Vapnik, Vladimir",data_science,230,Springer
6,6,Integration of the Indian States,"Menon, V P",history,217,Orient Blackswan
7,7,"Drunkard's Walk, The","Mlodinow, Leonard",science,197,Penguin
8,8,Image Processing & Mathematical Morphology,"Shih, Frank",signal_processing,241,CRC

Here It comes as indexing as  new unmaned column :
Solution to this : index =false while exporting i.e

-> book_sales.to_csv("Exported_books.csv",index=False)

In [81]:
book_sales.to_csv("Exported_books.csv",index=False)

In [82]:
book_sales3=pd.read_csv("Exported_books.csv")
book_sales3

,Title,Author,Genre,Height,Publisher
0,Fundamentals of Wavelets,"Goswami, Jaideva",signal_processing,228,Wiley
1,Data Smart,"Foreman, John",data_science,235,Wiley
2,God Created the Integers,"Hawking, Stephen",mathematics,197,Penguin
3,Superfreakonomics,"Dubner, Stephen",economics,179,HarperCollins
4,Orientalism,"Said, Edward",history,197,Penguin
5,"Nature of Statistical Learning Theory, The","Vapnik, Vladimir",data_science,230,Springer
6,Integration of the Indian States,"Menon, V P",history,217,Orient Blackswan
7,"Drunkard's Walk, The","Mlodinow, Leonard",science,197,Penguin
8,Image Processing & Mathematical Morphology,"Shih, Frank",signal_processing,241,CRC

DESCRIBING THE DATA: