## Detail to Scikit-Learn
This notebook demonstrate the some of the useful function in scikitlearn
This section just shows the descriptive way of each of the steps to be covered.

Topics covered:
1. An end to end scikit learn workflow
2. Getting the data ready
3. Choose the right estimator/algorithm
4. Fit the model/algorithm and use it to make prediction
5. Evaluating a model
6. Improve the model
7. Save and load a trained model
8. Putting it all together

# 1. An end to end scikit learn workflow

In [5]:
# Standard imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# 2. Getting the data ready
Getting our data for the ML models:

Three main things:

    2.1. Spilts the data to train and test(X&Y)
    2.2. Filling(called as imputing) or disregarding missing values
    2.3. Converting non-numeric to numeric(feature encoding)

In [7]:
heart_disease=pd.read_csv("heart-disease.csv")
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [9]:
# Taking the feature column in X except target(i.e label Y)
x= heart_disease.drop("target",axis=1)

# Taking the target in y as label
y=heart_disease["target"]
x.head(),y.head()

(   age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  \
 0   63    1   3       145   233    1        0      150      0      2.3      0
 1   37    1   2       130   250    0        1      187      0      3.5      0
 2   41    0   1       130   204    0        0      172      0      1.4      2
 3   56    1   1       120   236    0        1      178      0      0.8      2
 4   57    0   0       120   354    0        1      163      1      0.6      2

    ca  thal
 0   0     1
 1   0     2
 2   0     2
 3   0     2
 4   0     2  ,
 0    1
 1    1
 2    1
 3    1
 4    1
 Name: target, dtype: int64)

In [18]:
# In machine learning the most fundamental principle is to split the data into Train and test
# 2.1 Splitting the data into train and test
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
# test_size indicated the % of the data for test data

In [17]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((242, 13), (61, 13), (242,), (61,))

# 3. Choose the right estimator/algorithm

# 4. Fit the model/algorithm and use it to make prediction

# 5. Evaluating a model

# 6. Improve the model

# 7. Save and load a trained model

# 8. Putting it all together